body {
    margin: 0;
}

.side-menu {
    position: fixed;
    width: 320px;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px 0 24px;
}

.header__logo {
    width: 97px;
    height: 51px;
}

.header__button-burger {
    background: url('statics/burger.svg') no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.header__button-search {
    background: url('statics/search.svg') no-repeat;
    border: none;
    width: 40px;
    height: 40px;
}